@media screen and (max-width: 1060px){
    #primary {width:67%;}
    #secondary {width:30%;margin-left:3%}
}
@media screen and (max-width:768px){
    #primary {width:100%; }
    #secondary {width:100%;margin:0; border:none;}
}
@media (min-device-width:500px){
    img[data-src-500px]
    {
        content:attr(data-src-500px,url);
    }
}
@media (min-device-width:800px){
    img[data-src-800px]
    {
        content:attr(data-src-800px,url);
    }
}

section{
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    background: #fff;
    display: flex;
    margin: 48px 49px 0px 55px;
    padding: 0;
    /* box-sizing: border-box; */
    flex-direction: row;
    justify-content: space-around;
    font-family:sans-serif;
    flex-wrap: wrap;
}
.btn-outline-danger{
    float: left;
}
.square{
    position: relative;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin:25px;
}
.square span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid #000; */
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate 6s linear infinite;
    
}
.square:hover span:nth-child(1){
    border: none;
background:#094691;
}
.square span:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid #000; */
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    /* transition: .5s; */
    animation: animate 4s linear infinite;
    
}
.square:hover span:nth-child(2){
    border: none;
background:white;
}
.square span:nth-child(3)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid #000; */
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    /* transition: .5s; */
    animation: animate2 10s linear infinite;
    
}
.square:hover span:nth-child(3){
    border: none;
background: red;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate2
{
    0%
    {
        transform: rotate(360deg);
    }
    50%
    {
        transform: rotate(0deg);
    }
}
.content{
    position: relative;
    padding:40px 60px;
    color: #fff;
    text-align: center;
    text-align: left;
    transition: 0.5s;
    z-index: 1000;
    /* font-size: ; */
    
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    /* border:2px solid #000; */
padding: 6px 18px;
text-decoration: none;
color: #000;
font-weight: 600;
background-color: rgb(255, 0, 0);
border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;

}
.content a:hover{
    background: #fff;
    color: rgb(207, 16, 16);


}
h2{
    color: black;
    font-size: 15px;
}

.b1{
    padding: 5px;
    border-radius: 5px;
    color: red;
    border-color: red;
    background:white ;
   
    
}
.b1:hover{
    background: red;
    color: white;
    
}
.form-control{
    margin-left: 250px;
}
.head p{
    font-size: 25px;
    /* border: 2px solid red; */
    /* display: inline-block; */
    padding: 0%;
}

/*************footer*****************/
/* REMOVE THIS, USE YOUR OWN  */
/* html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
  }
  .dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  } */
  /* STYLES SPECIFIC TO FOOTER  */
  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.footer-area {
  margin-top: 100px;
  padding: 100px 0;
  /* background: #d61711; */
  /* background: -moz-linear-gradient(left,  #2749c4 0%, #0f3f7a 100%); */
  /* background: -webkit-linear-gradient(left,  #cfc3c3 50%,#c9d2dd 100%); */
  background: linear-gradient(to right,  #eb2d14 79%,#094691 23%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2',GradientType=1 );
  color:#fff;
  position:relative;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-footer {
  width: 230px;
}
.single-footer:first-child {
  width: 400px;
}
.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer-social a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-social {
  margin-top: 20px;
}
.single-footer ul {
  list-style: none;
}
.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.single-footer ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

.footer-wave-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  right: 0;
  width: 100%;
  overflow:hidden;
}
.footer-wave {
  background-image: url('img/footer-shape.png');
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200%;
  background-size:50%;
  background-position:bottom;
  background-repeat:repeat-x;
}

.footer-animation{
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left:auto;
    right:0;
}
@-moz-keyframeskeyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}
@-moz-keyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}

@-o-keyframeskeyframes footer_wave{
  0%{
      -o-transform:translateX(0%);
  }
  50%{
    -o-transform:translateX(25%);
  }
  100%{
    -o-transform:translateX(50%);
  }
}

@-webkit-keyframeskeyframes footer_wave{
  0%{
      -webkit-transform:translateX(0%);
  }
  50%{
    -webkit-transform:translateX(25%);
  }
  100%{
    -webkit-transform:translateX(50%);
  }
}

@media only screen and (max-width:600px){
  .main{
    width:320px;
  }
  .footer-wave-box {
    display: none;
  }
  .single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
  }
}
.footer-social a:hover{
background: blue;
}
